<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>シークレット</title>
</head>

<body>
    <h1>シークレット</h1>
    <form action="/logout" method="POST">
        <button>ログアウト</button>
    </form>
</body>

</html>