<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>

<body>
    <h1>ホームページ <%= 'hello world' .toUpperCase() %>
    </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis error veritatis expedita repellat quas culpa amet
        provident, inventore cupiditate, dolore, odit voluptates magnam eaque explicabo officia cumque ut aspernatur
        sunt!
        Totam numquam dolorem vel minus accusamus eaque laboriosam eveniet atque itaque doloribus eligendi praesentium
        dolores libero quod id quos, tempora odit dolore, ab reiciendis, voluptas repellendus assumenda animi molestias?
        Et.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam facilis veniam fugiat accusamus impedit quod
        perspiciatis maiores magni nostrum, atque itaque nihil tempore soluta reprehenderit error incidunt voluptates
        vel pariatur.
        Tenetur possimus rerum et? Eveniet, non quisquam? Nostrum laboriosam id necessitatibus obcaecati recusandae
        veniam eveniet adipisci sapiente, molestias minus fugiat dolorem ipsum voluptas aliquid quibusdam rerum hic
        dolorum quos doloribus?F</p>
</body>

</html>