h1 {
  text-align: center;
  font-weight: 100;
  text-decoration: #0000ff underline wavy;
  letter-spacing: 15px;
  font-size: 80px;
  /* font-family: segoe UI, futura, Arial, sens-serif; */
  font-family: fantasy;
}

h2 {
  color: indianred;
  background-color: #33FFBD ;
}
a {
  text-decoration: none;
}

button {
  color: teal;
  background-color: violet;
}
p {
  color: green;
  background: orange;
  line-height: 0.5;
}

body {
  background-color: rgb(83, 99, 238);
}