<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading">
                    <%= err.message %>
                </h4>
                <p style="max-height: 700px; overflow-y: auto;">
                    <%= err.stack %>
                </p>
            </div>
        </div>